{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #020111 0%, #191970 50%, #000000 100%);
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  text-align: center;
  z-index: 2;
}

h1 {
  font-size: 60px;
  color: #ffffff;
  text-shadow: 0 0 15px #7ec8ff;
}

p {
  margin-top: 20px;
  font-size: 22px;
  color: #d6ecff;
}

button {
  margin-top: 35px;
  padding: 15px 35px;
  border: none;
  border-radius: 50px;
  background: #5dade2;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.08);
}
