body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #020024, #090979, #000000);
    overflow: hidden;
    font-family: Arial, sans-serif;
}

button {
    padding: 18px 35px;
    font-size: 22px;
    border: none;
    border-radius: 40px;
    background: #ff4d6d;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(255, 77, 109, 0.7);
}

button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 35px rgba(255, 77, 109, 1);
}
moon {
    position: absolute;
    top: 60px;
    right: 80px;
    width: 120px;
    height: 120px;
    background: #fff8dc;
    border-radius: 50%;
    box-shadow:
        0 0 20px #fff8dc,
        0 0 40px #fff8dc,
        0 0 80px #fff8dc;
}
